.nav {
  background-color: #defbff; /* Background color */
  display: flex;
  justify-content: center; /* Center align items horizontally */
  padding: 30px 0px; /* Add some vertical padding for spacing */
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 1px;

}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Center align items vertically */
}

.nav li {
  margin-right: 50px;
  font-size: 16px;
}

.nav a {  
  text-decoration: none;
  color: #000;
}

.nav a:hover {
  color:  #CC6A4F;
}










.navList {
  /* Your navigation list styles */
  list-style: none;
  padding: 0;
  display: flex;
}

.navList li {
  margin-right: 15px;
}

/* Add the following styles for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 15px;
  background-color: inherit;
  border:solid 2px #ffffff;
border-radius: 20px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 1px;
  font-size: 15px;
}

.dropdownContent {
 margin-top: 1px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
border-radius: 20px;
text-align: center
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}







.navbut
{

padding: 15px;
  background-color: inherit;
  border:solid 2px #ffffff;
border-radius: 20px;
margin: 5px;


}