.body2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/ss4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: inherit;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; 
   display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
}

.containerStyle{
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;


}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(47, 122, 155);
}

.input {
  width:400px;
  color: white;
  padding: 10px;
  margin: 10px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border-radius: 20px;
  background-color: inherit;
  letter-spacing: 1px;
 
}



.error {
  color: red;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color:inherit;
  color: rgb(47, 122, 155);
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  letter-spacing: 1px;
  transition: all ease 1s;
}

.buttonDisabled {
  width: max-content;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(47, 122, 155);
  font-size: 16px;
  cursor: not-allowed;
  margin: 20px;
}

.button:hover {
background-color: rgb(255, 255, 255);
  border-radius: 30px;
  font-size: 20px;
  color: black;

}

.link {
  text-decoration: none;
  color: rgb(47, 122, 155);
}


.divdiv {

margin-top: 30px;
display: flex;
flex-direction: row;
  
}